html body {
    background-color: dimgrey;
}
#page {
    height: 100%;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}
#titleblock {
    height: 160px;
    width: 800px;
    padding-left: 10px;
}
h1 {
    font-family: "Comic Sans MS";
    font-style: italic;
    font-weight: 900;
    font-size: 45px;
    color: white;
}
h2 {
    font-family: "Comic Sans MS";
    font-style: italic;
    font-weight: 900;
    font-size: 16px;
    color: white;
}
#panel1 {
    position: relative;
    height: 280px;
    width: 780px;
    border: 8px solid darkslateblue;
    float: left;
    background-color: white;
    overflow: hidden;
}
#panel2 {
    position: relative;
    height: 280px;
    width: 280px;
    border: 8px solid lightblue;
    float: left;
    background-color: white;
    overflow: hidden;
}
#panel3 {
    position: relative;
    height: 280px;
    width: 480px;
    border: 8px solid darkblue;
    float: left;
    background-color: white;
    overflow: hidden;
}
#panel4 {
    position: relative;
    height: 280px;
    width: 480px;
    border: 10px solid darkcyan;
    float: left;
    background-color: white;
    overflow: hidden;
}
#panel5 {
    position: relative;
    height: 280px;
    width: 280px;
    border: 10px solid slateblue;
    float: left;
    background-color: white;
    overflow: hidden;
}
.narration {
    font-family: "IMpact";
    font-style: italic;
    font-weight: 900;
    font-size: 14px;
    padding: 10px;
    color: lightgrey;
    margin: 20px;
    background-color: #2b2b2b;
}
.bigtext {
    font-family: "Comic Sans MS";
    color: white;
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
    line-height: 100%;
    margin: 20px;
    text-shadow: 2px 2px #2b2b2b;
}
.left {
    position: absolute;
    left: 0;
}
.right {
    position: absolute;
    right: 0;
}
.top {
    position: absolute;
    top: 0;
}
.bottom {
    position: absolute;
    bottom: 0;
}
#image1 {
    position: absolute;
    height: 100%;
    width: 100%
}
.inback {
    z-index: 1;
}
.inmiddle {
    z-index: 2;
}
.infront {
    z-index: 3;
}
#image4 {
    height: 100%;
    width: 100%
}
#image2 {
    height: 100%;
    width: 100%
}
#image3 {
    height: 100%;
    width: 100%
}
#image5 {
    height: 100%;
    width: 100%;
}