/*This sets the background color for our comic page*/
html body {
    background-color: #2b2b2b;
}

/*These IDs are for the invisible divs that will hold our comic together*/
#page {
    height: 100%;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#titleblock {
    height: 160px;
    width: 800px;
    padding-left: 10px;
}

/*These are the text styles for the headline and byline*/
h1 {
    font-family: "Comic Sans MS";
    font-style: italic;
    font-weight: 900;
    font-size: 45px;
    color: white;
}

h2 {
    font-family: "Comic Sans MS";
    font-style: italic;
    font-weight: 900;
    font-size: 16px;
    color: white;
}

/* These classes are for floating panels left or right*/
.fleft {
    float: left;
}
.fright {
    float: right;
}

/*These IDs are for the panels that will make up our comic.*/
#panel1 {
    height: 570px;
    width: 260px;
    position: relative;
    border: 5px solid #FF0000;
    background-color: aliceblue;
    overflow: hidden;
}
#panel2 {
    height: 280px;
    width: 520px;
    position: relative;
    border: 5px solid #FF0000;
    background-color: aliceblue;
    overflow: hidden;
}
#panel3 {
    height: 280px;
    width: 255px;
    position: relative;
    border: 5px solid #FF0000;
    background-color: aliceblue;
    overflow: hidden;
}
#panel4 {
    height: 280px;
    width: 255px;
    position: relative;
    border: 5px solid #FF0000;
    background-color: aliceblue;
    overflow: hidden;
}
#panel5 {
    height: 280px;
    width: 790px;
    position: relative;
    border: 5px solid #FF0000;
    background-color: aliceblue;
    overflow: hidden;
}

/*These classes are for the different text styles we will be using in the comic*/
.narration {
    font-family: "Comic Sans MS";
    font-style: italic;
    font-weight: 900;
    font-size: 15px;
    padding: 15px;
    color: white;
    margin: 10px;
    background-color: #2b2b2b;
}

.bigtext {
    font-family: "Comic Sans MS";
    color: white;
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
    line-height: 100%;
    margin: 20px;
    text-shadow:2px 2px #2b2b2b;
}

/* These classes can position text and images within the panel.*/
.left {
    position:absolute;
    left: 0;
}

.right {
    position:absolute;
    right: 0;
}

.top {
    position:absolute;
    top: 0;
}

.bottom {
    position:absolute;
    bottom: 0;
}

/* Classes are for stacking or ordering elements */
.inback {
    z-index: 1;
}

.inmiddle {
    z-index: 2;
}

.infront{
    z-index: 3;
}
/* Image Classes */
#image1 {
    position: absolute;
    height: 100%;
    width: 100%
}
#image2 {
    position: absolute;
    height: 100%;
    width: 100%
}
#image3 {
    position: absolute;
    height: 100%;
    width: 100%
}
#image4 {
    position: absolute;
    height: 100%;
    width: 100%
}
#image5 {
    position: absolute;
    height: 100%;
    width: 100%
}
